@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ripple {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.ripple-background {
  background: 
    linear-gradient(to top right, #4e54c8, #d9175b),
    linear-gradient(to bottom right,  #e9b555, #e43846);   
  background-size: cover;
  animation: rippleAnimation 30s infinite linear;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
