body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.header {
  background: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
  color: white;
  padding: 10px 0;
  text-align: center;
  height: 35px; /*header size*/
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-title{
  color: white; 
  text-decoration: none; 
  font-size: 24px; 
}
.nav-bar {
  background: #333;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.nav-bar a {
  float: left;
  display: block; /* or 'inline-block' */
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #333; /* Normal state background color */
  transition: background-color 0.3s, color 0.3s;
}
.nav-bar .login {
  float: right;
}
.nav-bar a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.container {
  padding: 20px;
}
.category {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  transition: transform 0.3s; 
}

.category:hover {
  transform: translateY(-5px); /* raise effect on hover */
}